@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary: white;
    --secondary: #236bc3;
}

/* Header */

.header {
    width: 90%;
    margin: auto;
    /* height: 100vh; */
}

.header .title {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.navbar {
    display: block;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
}

.nav-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondary);
}

.nav-list li a:hover {
    text-decoration: underline;
}



/* Component "Dibuat" */

.created {
    text-align: center;
}

.created h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.create-container {
    display: flex;
    gap: 2rem;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.create-container img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.create-column {
    border-radius: 50%;
    position: relative;
    transition: .5s ease;
}

.overlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    transition: .325s ease;
    justify-content: center;
    overflow: hidden;
}

.create-column::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: salmon;
}

.overlay p {
    cursor: default;
    position: absolute;
    transition: top .5s ease;
    color: white;
    top: 100%;
}

.create-column:hover .overlay {
    opacity: 1;
}

.create-column:hover .overlay p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.created h3 {
    padding: .6rem;
}

@keyframes hover {

    0% {

    }

    50% {

    }
    75% {

    }
    100%{

    }

}

@media screen and (max-width: 768px) {

    .create-container {
        justify-content: flex-start;
        gap: 1rem;
    }

}

/* Main */

.container {
    padding-top: 110px;
    width: 90%;
    margin: auto;
}

/* Deskripsi Component */

#deskripsi,
#fungsi,
#fitur,
#kesimpulan {
    padding-top: 50px;
}

.container .title {
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.container p {
    line-height: 1.5;
}

/* Fungsi Component Dan Fitur Component*/

#fungsi .nav-list,
#fitur .nav-list {
    margin: auto;
    width: 90%;
}

#fungsi .nav-list .list-app,
#fitur .nav-list .list-app {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
}

/* Tentang Kami */

#about-me {
    padding-top: 50px;
    width: 90%;
    margin: auto;
}

#about-me h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.nav-media {
    list-style: square;
}

.icon {
    font-size: 30px;
}





/* Button Home */

.btn-home {
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 2rem;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 50px;
}